
* {
    box-sizing: border-box;
    margin: 0;
}

#header {
    background-color: #3157d2;
    text-align: center;
    padding: 20px;
}

#nav {
    background-color: #8c89e7;
}

#section {
    background-color: #e4e4e4;
    padding: 20px;

    /*여기서이렇게 주면 텍스트는 가운데 정렬되지만 인풋 표는 정렬이안되서 이상해진다*/

}

#section h2{
    text-align: center;
}

/*테이블을 중앙정렬하고싶으면 마진오토*/
#section table{

    margin: auto;
    border: 1px solid black;
}

#section table tr, th, td{
    padding: 5px;
    border: 1px solid black;
}
input{
    display: block;
    text-align: center;
}
#footer {
    background-color: #3157d2;
    text-align: center;
    padding: 20px;
}

#nav ul {
    list-style-type: none;
    overflow: hidden;
}
#nav ul li {
    float: left;
}

#nav ul li a {
    /*inline은 높이 너비 지정을 못하고 block요소만 가능
    inline인데 높이 너비 지정을 하고싶으면 밑에처럼
    */
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: white;
}